body{
    font-family: 'Droid Serif', serif;
    font-size: 17px;
    line-height: 29px;
    font-weight: 400;
    color: #545353;
    background-color: #f1f5f5;
}


/* Link style
------------------------------ */
a {
    color: #2ecc71;
}
a,
a > * {
    cursor: pointer;
    text-decoration: none;
}
a:focus,
a:hover {
    color: #1b8046;
    text-decoration: none;
}

dl dd{
    margin-bottom: 10px;
}


/* =-=-=-=-=-=-= TYPOGRAPHY =-=-=-=-=-=-= */
h1, h2, h3, h4, h5, h6{
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    margin: 0 0 15px;
    color: #212121;
}

h1 {
    font-size: 40px;
    line-height: 50px;
}

h2 {
    font-size: 25px;
    line-height: 30px;
}

h3 {
    font-size: 20px;
    line-height: 25px
}

h4 {
    font-size: 18px;
    line-height: 20px;
}

h5 {
    font-size: 16px;
    line-height: 18px;
}
h6 {
    font-size: 14px;
    line-height: 16px;
}

p {
    margin-bottom: 15px;
}

p img { 
    margin: 0;
}


/* DEFINITION LISTS =-=-=-=-=-=-= */

dl dd{
    margin-bottom: 10px;
}

/* PRE =-=-=-=-=-=-= */
pre{
    border: 1px solid #ECECEC;
}

/* CODE =-=-=-=-=-=-= */
code{
    color: #888888;
}


/* WORDPRESS CORE =-=-=-=-=-=-= */
.alignleft {
    display: inline;
    float: left;
    margin-right: 1.5em;
}

.alignright {
    display: inline;
    float: right;
    margin-left: 1.5em;
}

.aligncenter {
    clear: both;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.alignnone {
    margin: 5px 20px 20px 0;
}

a img.alignright {
    float: right;
    margin: 5px 0 20px 20px;
}

a img.alignnone {
    margin: 5px 20px 20px 0;
}

a img.alignleft {
    float: left;
    margin: 5px 20px 20px 0;
}

a img.aligncenter {
    display: block;
    margin-left: auto;
    margin-right: auto
}

/* Captions
-------------------------------------------*/
.wp-caption {
    background: #fff;
    border: 1px solid #f0f0f0;
    max-width: 96%; /* Image does not overflow the content area */
    padding: 3px;
    text-align: center;
}

.wp-caption figcaption{
    padding: 5px 0 0;
}

.wp-caption img[class*="wp-image-"] {
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: 0 none;
    width: auto;
    height: auto;
    margin: 0;
    max-width: 98.5%;
    padding: 0;
}

.wp-caption .wp-caption-text {
    margin: 0.8075em 0;
    text-align: center;
}

.wp-caption.alignnone {
    margin: 5px 20px 20px 0;
}

.wp-caption.alignleft {
    margin: 5px 20px 20px 0;
}

.wp-caption.alignright {
    margin: 5px 0 20px 20px;
}

.wp-caption p.wp-caption-text {
    font-size: 11px;
    line-height: 17px;
    margin: 0;
    padding: 0 4px 5px;
}

/* BLOCKQUOTE =-=-=-=-=-=-= */
blockquote {
    padding: 10px;
    color: #999;
    border: 0;
    margin: 4em 0 2em;
    position: relative;
    text-align: center;
}
blockquote, 
blockquote p {
    font-size: 20px;
    line-height: 29px;
}
blockquote::before {
    position: absolute;
    content: "\f10d";
    font-family: FontAwesome;
    font-size: 50px;
    line-height: 50px;
    color: #545353;
    left: 0;
    top: -1em;
    right: 0;
}