
.column,
.columns {
    width: 100%;
    float: left;
    padding-left: .625rem;
    padding-right: .625rem
}

.column:last-child:not(:first-child),
.columns:last-child:not(:first-child) {
    float: right
}

.column.end:last-child:last-child,
.end.columns:last-child:last-child {
    float: left
}

.column.row.row,
.row.row.columns {
    float: none
}

.small-1 {
    width: 8.333333%
}

.small-push-1 {
    position: relative;
    left: 8.333333%
}

.small-pull-1 {
    position: relative;
    left: -8.333333%
}

.small-2 {
    width: 16.666667%
}

.small-push-2 {
    position: relative;
    left: 16.666667%
}

.small-pull-2 {
    position: relative;
    left: -16.666667%
}

.small-3 {
    width: 25%
}

.small-push-3 {
    position: relative;
    left: 25%
}

.small-pull-3 {
    position: relative;
    left: -25%
}

.small-4 {
    width: 33.333333%
}

.small-push-4 {
    position: relative;
    left: 33.333333%
}

.small-pull-4 {
    position: relative;
    left: -33.333333%
}

.small-5 {
    width: 41.666667%
}

.small-push-5 {
    position: relative;
    left: 41.666667%
}

.small-pull-5 {
    position: relative;
    left: -41.666667%
}

.small-6 {
    width: 50%
}

.small-push-6 {
    position: relative;
    left: 50%
}

.small-pull-6 {
    position: relative;
    left: -50%
}

.small-7 {
    width: 58.333333%
}

.small-push-7 {
    position: relative;
    left: 58.333333%
}

.small-pull-7 {
    position: relative;
    left: -58.333333%
}

.small-8 {
    width: 66.666667%
}

.small-push-8 {
    position: relative;
    left: 66.666667%
}

.small-pull-8 {
    position: relative;
    left: -66.666667%
}

.small-9 {
    width: 75%
}

.small-push-9 {
    position: relative;
    left: 75%
}

.small-pull-9 {
    position: relative;
    left: -75%
}

.small-10 {
    width: 83.333333%
}

.small-push-10 {
    position: relative;
    left: 83.333333%
}

.small-pull-10 {
    position: relative;
    left: -83.333333%
}

.small-11 {
    width: 91.666667%
}

.small-push-11 {
    position: relative;
    left: 91.666667%
}

.small-pull-11 {
    position: relative;
    left: -91.666667%
}

.small-12 {
    width: 100%
}

.small-up-1>.column,
.small-up-1>.columns {
    width: 100%;
    float: left
}

.small-up-1>.column:nth-of-type(1n),
.small-up-1>.columns:nth-of-type(1n) {
    clear: none
}

.small-up-1>.column:nth-of-type(1n+1),
.small-up-1>.columns:nth-of-type(1n+1) {
    clear: both
}

.small-up-1>.column:last-child,
.small-up-1>.columns:last-child {
    float: left
}

.small-up-2>.column,
.small-up-2>.columns {
    width: 50%;
    float: left
}

.small-up-2>.column:nth-of-type(1n),
.small-up-2>.columns:nth-of-type(1n) {
    clear: none
}

.small-up-2>.column:nth-of-type(2n+1),
.small-up-2>.columns:nth-of-type(2n+1) {
    clear: both
}

.small-up-2>.column:last-child,
.small-up-2>.columns:last-child {
    float: left
}

.small-up-3>.column,
.small-up-3>.columns {
    width: 33.333333%;
    float: left
}

.small-up-3>.column:nth-of-type(1n),
.small-up-3>.columns:nth-of-type(1n) {
    clear: none
}

.small-up-3>.column:nth-of-type(3n+1),
.small-up-3>.columns:nth-of-type(3n+1) {
    clear: both
}

.small-up-3>.column:last-child,
.small-up-3>.columns:last-child {
    float: left
}

.small-up-4>.column,
.small-up-4>.columns {
    width: 25%;
    float: left
}

.small-up-4>.column:nth-of-type(1n),
.small-up-4>.columns:nth-of-type(1n) {
    clear: none
}

.small-up-4>.column:nth-of-type(4n+1),
.small-up-4>.columns:nth-of-type(4n+1) {
    clear: both
}

.small-up-4>.column:last-child,
.small-up-4>.columns:last-child {
    float: left
}

.small-up-5>.column,
.small-up-5>.columns {
    width: 20%;
    float: left
}

.small-up-5>.column:nth-of-type(1n),
.small-up-5>.columns:nth-of-type(1n) {
    clear: none
}

.small-up-5>.column:nth-of-type(5n+1),
.small-up-5>.columns:nth-of-type(5n+1) {
    clear: both
}

.small-up-5>.column:last-child,
.small-up-5>.columns:last-child {
    float: left
}

.small-up-6>.column,
.small-up-6>.columns {
    width: 16.666667%;
    float: left
}

.small-up-6>.column:nth-of-type(1n),
.small-up-6>.columns:nth-of-type(1n) {
    clear: none
}

.small-up-6>.column:nth-of-type(6n+1),
.small-up-6>.columns:nth-of-type(6n+1) {
    clear: both
}

.small-up-6>.column:last-child,
.small-up-6>.columns:last-child {
    float: left
}

.small-up-7>.column,
.small-up-7>.columns {
    width: 14.285714%;
    float: left
}

.small-up-7>.column:nth-of-type(1n),
.small-up-7>.columns:nth-of-type(1n) {
    clear: none
}

.small-up-7>.column:nth-of-type(7n+1),
.small-up-7>.columns:nth-of-type(7n+1) {
    clear: both
}

.small-up-7>.column:last-child,
.small-up-7>.columns:last-child {
    float: left
}

.small-up-8>.column,
.small-up-8>.columns {
    width: 12.5%;
    float: left
}

.small-up-8>.column:nth-of-type(1n),
.small-up-8>.columns:nth-of-type(1n) {
    clear: none
}

.small-up-8>.column:nth-of-type(8n+1),
.small-up-8>.columns:nth-of-type(8n+1) {
    clear: both
}

.small-up-8>.column:last-child,
.small-up-8>.columns:last-child {
    float: left
}

.expanded.row .small-collapse.row,
.small-collapse .row {
    margin-left: 0;
    margin-right: 0
}

.small-centered {
    float: none;
    margin-left: auto;
    margin-right: auto
}

.small-pull-0,
.small-push-0,
.small-uncentered {
    position: static;
    margin-left: 0;
    margin-right: 0;
    float: left
}

@media screen and (min-width: 40.0625em) {
    .medium-1 {
        width: 8.333333%
    }
    .medium-push-1 {
        position: relative;
        left: 8.333333%
    }
    .medium-pull-1 {
        position: relative;
        left: -8.333333%
    }
    .medium-offset-0 {
        margin-left: 0
    }
    .medium-2 {
        width: 16.666667%
    }
    .medium-push-2 {
        position: relative;
        left: 16.666667%
    }
    .medium-pull-2 {
        position: relative;
        left: -16.666667%
    }
    .medium-offset-1 {
        margin-left: 8.333333%
    }
    .medium-3 {
        width: 25%
    }
    .medium-push-3 {
        position: relative;
        left: 25%
    }
    .medium-pull-3 {
        position: relative;
        left: -25%
    }
    .medium-offset-2 {
        margin-left: 16.666667%
    }
    .medium-4 {
        width: 33.333333%
    }
    .medium-push-4 {
        position: relative;
        left: 33.333333%
    }
    .medium-pull-4 {
        position: relative;
        left: -33.333333%
    }
    .medium-offset-3 {
        margin-left: 25%
    }
    .medium-5 {
        width: 41.666667%
    }
    .medium-push-5 {
        position: relative;
        left: 41.666667%
    }
    .medium-pull-5 {
        position: relative;
        left: -41.666667%
    }
    .medium-offset-4 {
        margin-left: 33.333333%
    }
    .medium-6 {
        width: 50%
    }
    .medium-push-6 {
        position: relative;
        left: 50%
    }
    .medium-pull-6 {
        position: relative;
        left: -50%
    }
    .medium-offset-5 {
        margin-left: 41.666667%
    }
    .medium-7 {
        width: 58.333333%
    }
    .medium-push-7 {
        position: relative;
        left: 58.333333%
    }
    .medium-pull-7 {
        position: relative;
        left: -58.333333%
    }
    .medium-offset-6 {
        margin-left: 50%
    }
    .medium-8 {
        width: 66.666667%
    }
    .medium-push-8 {
        position: relative;
        left: 66.666667%
    }
    .medium-pull-8 {
        position: relative;
        left: -66.666667%
    }
    .medium-offset-7 {
        margin-left: 58.333333%
    }
    .medium-9 {
        width: 75%
    }
    .medium-push-9 {
        position: relative;
        left: 75%
    }
    .medium-pull-9 {
        position: relative;
        left: -75%
    }
    .medium-offset-8 {
        margin-left: 66.666667%
    }
    .medium-10 {
        width: 83.333333%
    }
    .medium-push-10 {
        position: relative;
        left: 83.333333%
    }
    .medium-pull-10 {
        position: relative;
        left: -83.333333%
    }
    .medium-offset-9 {
        margin-left: 75%
    }
    .medium-11 {
        width: 91.666667%
    }
    .medium-push-11 {
        position: relative;
        left: 91.666667%
    }
    .medium-pull-11 {
        position: relative;
        left: -91.666667%
    }
    .medium-offset-10 {
        margin-left: 83.333333%
    }
    .medium-12 {
        width: 100%
    }
    .medium-offset-11 {
        margin-left: 91.666667%
    }
    .medium-up-1>.column,
    .medium-up-1>.columns {
        width: 100%;
        float: left
    }
    .medium-up-1>.column:nth-of-type(1n),
    .medium-up-1>.columns:nth-of-type(1n) {
        clear: none
    }
    .medium-up-1>.column:nth-of-type(1n+1),
    .medium-up-1>.columns:nth-of-type(1n+1) {
        clear: both
    }
    .medium-up-1>.column:last-child,
    .medium-up-1>.columns:last-child {
        float: left
    }
    .medium-up-2>.column,
    .medium-up-2>.columns {
        width: 50%;
        float: left
    }
    .medium-up-2>.column:nth-of-type(1n),
    .medium-up-2>.columns:nth-of-type(1n) {
        clear: none
    }
    .medium-up-2>.column:nth-of-type(2n+1),
    .medium-up-2>.columns:nth-of-type(2n+1) {
        clear: both
    }
    .medium-up-2>.column:last-child,
    .medium-up-2>.columns:last-child {
        float: left
    }
    .medium-up-3>.column,
    .medium-up-3>.columns {
        width: 33.333333%;
        float: left
    }
    .medium-up-3>.column:nth-of-type(1n),
    .medium-up-3>.columns:nth-of-type(1n) {
        clear: none
    }
    .medium-up-3>.column:nth-of-type(3n+1),
    .medium-up-3>.columns:nth-of-type(3n+1) {
        clear: both
    }
    .medium-up-3>.column:last-child,
    .medium-up-3>.columns:last-child {
        float: left
    }
    .medium-up-4>.column,
    .medium-up-4>.columns {
        width: 25%;
        float: left
    }
    .medium-up-4>.column:nth-of-type(1n),
    .medium-up-4>.columns:nth-of-type(1n) {
        clear: none
    }
    .medium-up-4>.column:nth-of-type(4n+1),
    .medium-up-4>.columns:nth-of-type(4n+1) {
        clear: both
    }
    .medium-up-4>.column:last-child,
    .medium-up-4>.columns:last-child {
        float: left
    }
    .medium-up-5>.column,
    .medium-up-5>.columns {
        width: 20%;
        float: left
    }
    .medium-up-5>.column:nth-of-type(1n),
    .medium-up-5>.columns:nth-of-type(1n) {
        clear: none
    }
    .medium-up-5>.column:nth-of-type(5n+1),
    .medium-up-5>.columns:nth-of-type(5n+1) {
        clear: both
    }
    .medium-up-5>.column:last-child,
    .medium-up-5>.columns:last-child {
        float: left
    }
    .medium-up-6>.column,
    .medium-up-6>.columns {
        width: 16.666667%;
        float: left
    }
    .medium-up-6>.column:nth-of-type(1n),
    .medium-up-6>.columns:nth-of-type(1n) {
        clear: none
    }
    .medium-up-6>.column:nth-of-type(6n+1),
    .medium-up-6>.columns:nth-of-type(6n+1) {
        clear: both
    }
    .medium-up-6>.column:last-child,
    .medium-up-6>.columns:last-child {
        float: left
    }
    .medium-up-7>.column,
    .medium-up-7>.columns {
        width: 14.285714%;
        float: left
    }
    .medium-up-7>.column:nth-of-type(1n),
    .medium-up-7>.columns:nth-of-type(1n) {
        clear: none
    }
    .medium-up-7>.column:nth-of-type(7n+1),
    .medium-up-7>.columns:nth-of-type(7n+1) {
        clear: both
    }
    .medium-up-7>.column:last-child,
    .medium-up-7>.columns:last-child {
        float: left
    }
    .medium-up-8>.column,
    .medium-up-8>.columns {
        width: 12.5%;
        float: left
    }
    .medium-up-8>.column:nth-of-type(1n),
    .medium-up-8>.columns:nth-of-type(1n) {
        clear: none
    }
    .medium-up-8>.column:nth-of-type(8n+1),
    .medium-up-8>.columns:nth-of-type(8n+1) {
        clear: both
    }
    .medium-up-8>.column:last-child,
    .medium-up-8>.columns:last-child {
        float: left
    }
    .medium-collapse>.column,
    .medium-collapse>.columns {
        padding-left: 0;
        padding-right: 0
    }
    .expanded.row .medium-collapse.row,
    .medium-collapse .row {
        margin-left: 0;
        margin-right: 0
    }
    .medium-uncollapse>.column,
    .medium-uncollapse>.columns {
        padding-left: .9375rem;
        padding-right: .9375rem
    }
    .medium-centered {
        float: none;
        margin-left: auto;
        margin-right: auto
    }
    .medium-pull-0,
    .medium-push-0,
    .medium-uncentered {
        position: static;
        margin-left: 0;
        margin-right: 0;
        float: left
    }
}


.row {
    max-width: 90rem;
    margin-left: auto;
    margin-right: auto;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap
}

.row .row {
    max-width: none;
    margin-left: -.625rem;
    margin-right: -.625rem
}

@media screen and (min-width: 40.0625em) {
    .row .row {
        margin-left: -.9375rem;
        margin-right: -.9375rem
    }
}

.row.expanded {
    max-width: none
}

.row.collapse>.column,
.row.collapse>.columns {
    padding-left: 0;
    padding-right: 0
}

.column,
.columns {
    -ms-flex: 1 1 0px;
    flex: 1 1 0px;
    padding-left: .625rem;
    padding-right: .625rem;
    min-width: initial
}

@media screen and (min-width: 40.0625em) {
    .column,
    .columns {
        padding-left: .9375rem;
        padding-right: .9375rem
    }
}

.column.row.row,
.row.row.columns {
    float: none;
    display: block
}

.row .column.row.row,
.row .row.row.columns {
    padding-left: 0;
    padding-right: 0;
    margin-left: 0;
    margin-right: 0
}

.small-1 {
    -ms-flex: 0 0 8.333333%;
    flex: 0 0 8.333333%;
    max-width: 8.333333%
}

.small-offset-0 {
    margin-left: 0
}

.small-2 {
    -ms-flex: 0 0 16.666667%;
    flex: 0 0 16.666667%;
    max-width: 16.666667%
}

.small-offset-1 {
    margin-left: 8.333333%
}

.small-3 {
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%
}

.small-offset-2 {
    margin-left: 16.666667%
}

.small-4 {
    -ms-flex: 0 0 33.333333%;
    flex: 0 0 33.333333%;
    max-width: 33.333333%
}

.small-offset-3 {
    margin-left: 25%
}

.small-5 {
    -ms-flex: 0 0 41.666667%;
    flex: 0 0 41.666667%;
    max-width: 41.666667%
}

.small-offset-4 {
    margin-left: 33.333333%
}

.small-6 {
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%
}

.small-offset-5 {
    margin-left: 41.666667%
}

.small-7 {
    -ms-flex: 0 0 58.333333%;
    flex: 0 0 58.333333%;
    max-width: 58.333333%
}

.small-offset-6 {
    margin-left: 50%
}

.small-8 {
    -ms-flex: 0 0 66.666667%;
    flex: 0 0 66.666667%;
    max-width: 66.666667%
}

.small-offset-7 {
    margin-left: 58.333333%
}

.small-9 {
    -ms-flex: 0 0 75%;
    flex: 0 0 75%;
    max-width: 75%
}

.small-offset-8 {
    margin-left: 66.666667%
}

.small-10 {
    -ms-flex: 0 0 83.333333%;
    flex: 0 0 83.333333%;
    max-width: 83.333333%
}

.small-offset-9 {
    margin-left: 75%
}

.small-11 {
    -ms-flex: 0 0 91.666667%;
    flex: 0 0 91.666667%;
    max-width: 91.666667%
}

.small-offset-10 {
    margin-left: 83.333333%
}

.small-12 {
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%
}

.small-offset-11 {
    margin-left: 91.666667%
}

.small-up-1 {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap
}

.small-up-1>.column,
.small-up-1>.columns {
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%
}

.small-up-2 {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap
}

.small-up-2>.column,
.small-up-2>.columns {
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%
}

.small-up-3 {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap
}

.small-up-3>.column,
.small-up-3>.columns {
    -ms-flex: 0 0 33.333333%;
    flex: 0 0 33.333333%;
    max-width: 33.333333%
}

.small-up-4 {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap
}

.small-up-4>.column,
.small-up-4>.columns {
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%
}

.small-up-5 {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap
}

.small-up-5>.column,
.small-up-5>.columns {
    -ms-flex: 0 0 20%;
    flex: 0 0 20%;
    max-width: 20%
}

.small-up-6 {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap
}

.small-up-6>.column,
.small-up-6>.columns {
    -ms-flex: 0 0 16.666667%;
    flex: 0 0 16.666667%;
    max-width: 16.666667%
}

.small-up-7 {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap
}

.small-up-7>.column,
.small-up-7>.columns {
    -ms-flex: 0 0 14.285714%;
    flex: 0 0 14.285714%;
    max-width: 14.285714%
}

.small-up-8 {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap
}

.small-up-8>.column,
.small-up-8>.columns {
    -ms-flex: 0 0 12.5%;
    flex: 0 0 12.5%;
    max-width: 12.5%
}

.small-collapse>.column,
.small-collapse>.columns {
    padding-left: 0;
    padding-right: 0
}

.small-uncollapse>.column,
.small-uncollapse>.columns {
    padding-left: .625rem;
    padding-right: .625rem
}

@media screen and (min-width: 40.0625em) {
    .medium-1 {
        -ms-flex: 0 0 8.333333%;
        flex: 0 0 8.333333%;
        max-width: 8.333333%
    }
    .medium-offset-0 {
        margin-left: 0
    }
    .medium-2 {
        -ms-flex: 0 0 16.666667%;
        flex: 0 0 16.666667%;
        max-width: 16.666667%
    }
    .medium-offset-1 {
        margin-left: 8.333333%
    }
    .medium-3 {
        -ms-flex: 0 0 25%;
        flex: 0 0 25%;
        max-width: 25%
    }
    .medium-offset-2 {
        margin-left: 16.666667%
    }
    .medium-4 {
        -ms-flex: 0 0 33.333333%;
        flex: 0 0 33.333333%;
        max-width: 33.333333%
    }
    .medium-offset-3 {
        margin-left: 25%
    }
    .medium-5 {
        -ms-flex: 0 0 41.666667%;
        flex: 0 0 41.666667%;
        max-width: 41.666667%
    }
    .medium-offset-4 {
        margin-left: 33.333333%
    }
    .medium-6 {
        -ms-flex: 0 0 50%;
        flex: 0 0 50%;
        max-width: 50%
    }
    .medium-offset-5 {
        margin-left: 41.666667%
    }
    .medium-7 {
        -ms-flex: 0 0 58.333333%;
        flex: 0 0 58.333333%;
        max-width: 58.333333%
    }
    .medium-offset-6 {
        margin-left: 50%
    }
    .medium-8 {
        -ms-flex: 0 0 66.666667%;
        flex: 0 0 66.666667%;
        max-width: 66.666667%
    }
    .medium-offset-7 {
        margin-left: 58.333333%
    }
    .medium-9 {
        -ms-flex: 0 0 75%;
        flex: 0 0 75%;
        max-width: 75%
    }
    .medium-offset-8 {
        margin-left: 66.666667%
    }
    .medium-10 {
        -ms-flex: 0 0 83.333333%;
        flex: 0 0 83.333333%;
        max-width: 83.333333%
    }
    .medium-offset-9 {
        margin-left: 75%
    }
    .medium-11 {
        -ms-flex: 0 0 91.666667%;
        flex: 0 0 91.666667%;
        max-width: 91.666667%
    }
    .medium-offset-10 {
        margin-left: 83.333333%
    }
    .medium-12 {
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%
    }
    .medium-offset-11 {
        margin-left: 91.666667%
    }
    .medium-order-1 {
        -ms-flex-order: 1;
        order: 1
    }
    .medium-order-2 {
        -ms-flex-order: 2;
        order: 2
    }
    .medium-order-3 {
        -ms-flex-order: 3;
        order: 3
    }
    .medium-order-4 {
        -ms-flex-order: 4;
        order: 4
    }
    .medium-order-5 {
        -ms-flex-order: 5;
        order: 5
    }
    .medium-order-6 {
        -ms-flex-order: 6;
        order: 6
    }
    .medium-up-1 {
        -ms-flex-wrap: wrap;
        flex-wrap: wrap
    }
    .medium-up-1>.column,
    .medium-up-1>.columns {
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%
    }
    .medium-up-2 {
        -ms-flex-wrap: wrap;
        flex-wrap: wrap
    }
    .medium-up-2>.column,
    .medium-up-2>.columns {
        -ms-flex: 0 0 50%;
        flex: 0 0 50%;
        max-width: 50%
    }
    .medium-up-3 {
        -ms-flex-wrap: wrap;
        flex-wrap: wrap
    }
    .medium-up-3>.column,
    .medium-up-3>.columns {
        -ms-flex: 0 0 33.333333%;
        flex: 0 0 33.333333%;
        max-width: 33.333333%
    }
    .medium-up-4 {
        -ms-flex-wrap: wrap;
        flex-wrap: wrap
    }
    .medium-up-4>.column,
    .medium-up-4>.columns {
        -ms-flex: 0 0 25%;
        flex: 0 0 25%;
        max-width: 25%
    }
    .medium-up-5 {
        -ms-flex-wrap: wrap;
        flex-wrap: wrap
    }
    .medium-up-5>.column,
    .medium-up-5>.columns {
        -ms-flex: 0 0 20%;
        flex: 0 0 20%;
        max-width: 20%
    }
    .medium-up-6 {
        -ms-flex-wrap: wrap;
        flex-wrap: wrap
    }
    .medium-up-6>.column,
    .medium-up-6>.columns {
        -ms-flex: 0 0 16.666667%;
        flex: 0 0 16.666667%;
        max-width: 16.666667%
    }
    .medium-up-7 {
        -ms-flex-wrap: wrap;
        flex-wrap: wrap
    }
    .medium-up-7>.column,
    .medium-up-7>.columns {
        -ms-flex: 0 0 14.285714%;
        flex: 0 0 14.285714%;
        max-width: 14.285714%
    }
    .medium-up-8 {
        -ms-flex-wrap: wrap;
        flex-wrap: wrap
    }
    .medium-up-8>.column,
    .medium-up-8>.columns {
        -ms-flex: 0 0 12.5%;
        flex: 0 0 12.5%;
        max-width: 12.5%
    }
}

@media screen and (min-width: 40.0625em) and (min-width: 40.0625em) {
    .medium-expand {
        -ms-flex: 1 1 0px;
        flex: 1 1 0px
    }
}

.row.medium-unstack>.column,
.row.medium-unstack>.columns {
    -ms-flex: 0 0 100%;
    flex: 0 0 100%
}

@media screen and (min-width: 40.0625em) {
    .row.medium-unstack>.column,
    .row.medium-unstack>.columns {
        -ms-flex: 1 1 0px;
        flex: 1 1 0px
    }
}

@media screen and (min-width: 40.0625em) {
    .medium-collapse>.column,
    .medium-collapse>.columns {
        padding-left: 0;
        padding-right: 0
    }
    .medium-uncollapse>.column,
    .medium-uncollapse>.columns {
        padding-left: .9375rem;
        padding-right: .9375rem
    }
}



.small-order-1 {
    -ms-flex-order: 1;
    order: 1
}

.small-order-2 {
    -ms-flex-order: 2;
    order: 2
}

.small-order-3 {
    -ms-flex-order: 3;
    order: 3
}

.small-order-4 {
    -ms-flex-order: 4;
    order: 4
}

.small-order-5 {
    -ms-flex-order: 5;
    order: 5
}

.small-order-6 {
    -ms-flex-order: 6;
    order: 6
}

@media screen and (min-width: 40.0625em) {
    .medium-order-1 {
        -ms-flex-order: 1;
        order: 1
    }
    .medium-order-2 {
        -ms-flex-order: 2;
        order: 2
    }
    .medium-order-3 {
        -ms-flex-order: 3;
        order: 3
    }
    .medium-order-4 {
        -ms-flex-order: 4;
        order: 4
    }
    .medium-order-5 {
        -ms-flex-order: 5;
        order: 5
    }
    .medium-order-6 {
        -ms-flex-order: 6;
        order: 6
    }
}

@media screen and (min-width: 64.0625em) {
    .large-order-1 {
        -ms-flex-order: 1;
        order: 1
    }
    .large-order-2 {
        -ms-flex-order: 2;
        order: 2
    }
    .large-order-3 {
        -ms-flex-order: 3;
        order: 3
    }
    .large-order-4 {
        -ms-flex-order: 4;
        order: 4
    }
    .large-order-5 {
        -ms-flex-order: 5;
        order: 5
    }
    .large-order-6 {
        -ms-flex-order: 6;
        order: 6
    }
}

@media screen and (min-width: 90.0625em) {
    .xlarge-order-1 {
        -ms-flex-order: 1;
        order: 1
    }
    .xlarge-order-2 {
        -ms-flex-order: 2;
        order: 2
    }
    .xlarge-order-3 {
        -ms-flex-order: 3;
        order: 3
    }
    .xlarge-order-4 {
        -ms-flex-order: 4;
        order: 4
    }
    .xlarge-order-5 {
        -ms-flex-order: 5;
        order: 5
    }
    .xlarge-order-6 {
        -ms-flex-order: 6;
        order: 6
    }
}


@media only screen and (min-width: 40.063em) {
    .row {
        padding: 0 35px
    }
    .row .row {
        padding: 0
    }
}

.no-padding,
.row.no-padding,
.row .row.max_width.no-padding {
    margin: 0
}

.no-padding>.columns,
.row .row.max_width.no-padding>.columns {
    padding: 0
}

@media only screen and (min-width: 40.063em) {
    .no-padding,
    .row.no-padding,
    .row .row.max_width.no-padding {
        padding: 0
    }
}

.row {
    width: 100%
}

.row:before,
.row:not(.thb-loading):not(.slick):not(.easyzoom-notice):after {
    display: none !important
}

.row.mpc-row {
    display: flex
}

.row.row-o-full-height {
    display: flex;
    min-height: 100vh
}

@media screen and (-ms-high-contrast: active),
(-ms-high-contrast: none) {
    .row.row-o-full-height {
        height: 100vh
    }
}

.row.row-o-columns-middle {
    align-items: center
}

.row.row-o-content-middle .vc_column-inner {
    display: flex;
    flex-direction: column;
    justify-content: center
}

.row.row-o-content-bottom .vc_column-inner {
    display: flex;
    flex-direction: column;
    justify-content: flex-end
}

.row.full-width-row {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%
}

.row .row {
    width: auto;
    padding: 0
}

.row .row.max_width {
    margin: 0 auto;
    max-width: 90rem
}

@media only screen and (min-width: 40.063em) {
    .row .row.max_width {
        padding: 0 35px
    }
}

.row.thb_video_bg {
    position: relative;
    overflow: hidden;
    background-image: none !important
}

.row.thb_video_bg .columns {
    z-index: 5
}

.row.thb_video_bg .thb-row-video-bg {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    z-index: -1;
    transform: translate3d(-50%, -50%, 0)
}

.row.thb_video_bg .thb_video_overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 0;
    pointer-events: none
}

.row .thb_video_play {
    display: inline-block;
    width: 32px;
    height: 32px;
    z-index: 20
}

@media only screen and (min-width: 64.063em) {
    .row .thb_video_play {
        width: 64px;
        height: 64px
    }
}

.row .thb_video_play svg {
    width: 32px;
    height: 32px
}

@media only screen and (min-width: 64.063em) {
    .row .thb_video_play svg {
        width: 64px;
        height: 64px
    }
}

.row .thb_video_play svg .play,
.row .thb_video_play svg .pause {
    fill: #fff
}

.row .thb_video_play svg .play {
    display: block
}

.row .thb_video_play svg .pause {
    display: none
}

.row .thb_video_play svg.playing .play {
    display: none
}

.row .thb_video_play svg.playing .pause {
    display: block
}

.flex-video {
    margin: 0
}

.vc_inline-shortcode-edit-form .vc_element .columns {
    width: 100%;
    max-width: 100%
}

.columns .vc_column-inner {
    width: 100%
}

.columns:not(.full-height) .vc_column-inner:not(.thb-fixed) {
    height: 100%
}

.columns.thb-light-column {
    color: #fff
}

.columns.thb-light-column h1,
.columns.thb-light-column h2,
.columns.thb-light-column h3,
.columns.thb-light-column h4,
.columns.thb-light-column h5,
.columns.thb-light-column h6,
.columns.thb-light-column label {
    color: #fff
}

.columns.thb-light-column .wpb_text_column a {
    color: #fff
}

.columns.thb-light-column .wpb_text_column a:after {
    border-bottom-color: #fff
}

.columns.thb-light-column .slick .slick-dots li button {
}

.columns.thb-light-column .slick .slick-dots li.slick-active button {
    background: #fff
}

.columns.thb-light-column .thb-iconbox figure svg path,
.columns.thb-light-column .thb-iconbox figure svg circle,
.columns.thb-light-column .thb-iconbox figure svg rect,
.columns.thb-light-column .thb-iconbox figure svg ellipse {
    stroke: #fff
}

@media only screen and (min-width: 75.063em) {
    .thb-5 {
        -webkit-flex: 0 0 20%;
        -ms-flex: 0 0 20%;
        flex: 0 0 20%;
        max-width: 20%
    }
}





.button,
input[type=submit] {
    font-size: 16px;
    font-weight: 400;
    padding: 0 15px;
    text-align: center;
    height: 42px;
    line-height: 40px;
    border: 1px solid #151515;
    margin: 0;
    display: inline-flex;
    justify-content: center;
    cursor: pointer;
    outline: 0;
    color: #fff;
    background: #151515;
    text-shadow: none !important;
    justify-content: center;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    border-radius: 0
}

@media only screen and (min-width: 40.063em) {

    .button,
    input[type=submit] {
        padding: 0 26px
    }
}

input[type="text"],
input[type="password"],
input[type="date"],
input[type="datetime"],
input[type="email"],
input[type="number"],
input[type="search"],
input[type="tel"],
input[type="time"],
input[type="url"],
textarea {
    display: inline-flex;
    border: 1px solid #e5e5e5;
    padding: 0 16px;
    height: 42px;
    line-height: 42px;
    margin-bottom: 20px;
    color: #737373;
    font-size: 14px;
    background: #fff;
    max-width: 100%;
    outline: 0;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    border-radius: 0;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    -moz-appearance: none;
    -webkit-appearance: none
}

input[type="text"]:focus,
input[type="password"]:focus,
input[type="date"]:focus,
input[type="datetime"]:focus,
input[type="email"]:focus,
input[type="number"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="time"]:focus,
input[type="url"]:focus,
textarea:focus {
    border-color: #151515;
    color: #151515
}

input[type="text"].wpcf7-not-valid,
.woocommerce-invalid-required-field input[type="text"],
.woocommerce-invalid input[type="text"],
input[type="password"].wpcf7-not-valid,
.woocommerce-invalid-required-field input[type="password"],
.woocommerce-invalid input[type="password"],
input[type="date"].wpcf7-not-valid,
.woocommerce-invalid-required-field input[type="date"],
.woocommerce-invalid input[type="date"],
input[type="datetime"].wpcf7-not-valid,
.woocommerce-invalid-required-field input[type="datetime"],
.woocommerce-invalid input[type="datetime"],
input[type="email"].wpcf7-not-valid,
.woocommerce-invalid-required-field input[type="email"],
.woocommerce-invalid input[type="email"],
input[type="number"].wpcf7-not-valid,
.woocommerce-invalid-required-field input[type="number"],
.woocommerce-invalid input[type="number"],
input[type="search"].wpcf7-not-valid,
.woocommerce-invalid-required-field input[type="search"],
.woocommerce-invalid input[type="search"],
input[type="tel"].wpcf7-not-valid,
.woocommerce-invalid-required-field input[type="tel"],
.woocommerce-invalid input[type="tel"],
input[type="time"].wpcf7-not-valid,
.woocommerce-invalid-required-field input[type="time"],
.woocommerce-invalid input[type="time"],
input[type="url"].wpcf7-not-valid,
.woocommerce-invalid-required-field input[type="url"],
.woocommerce-invalid input[type="url"],
textarea.wpcf7-not-valid,
.woocommerce-invalid-required-field textarea,
.woocommerce-invalid textarea {
    border-color: #e76049
}

input[type="text"].full,
.form-row input[type="text"],
input[type="password"].full,
.form-row input[type="password"],
input[type="date"].full,
.form-row input[type="date"],
input[type="datetime"].full,
.form-row input[type="datetime"],
input[type="email"].full,
.form-row input[type="email"],
input[type="number"].full,
.form-row input[type="number"],
input[type="search"].full,
.form-row input[type="search"],
input[type="tel"].full,
.form-row input[type="tel"],
input[type="time"].full,
.form-row input[type="time"],
input[type="url"].full,
.form-row input[type="url"],
textarea.full,
.form-row textarea {
    width: 100%
}

.wpcf7-form-control-wrap {
    width: 100%
}

label {
    display: inline-block;
    font-size: 12px;
    color: #151515;
    margin: 0 0 10px;
    text-align: left;
    line-height: 1;
    font-weight: 400;
    text-transform: uppercase
}

textarea {
    min-height: 108px;
    padding: 7px 14px
}

.wpcf7-form textarea {
    min-height: 200px
}

.custom_check {
    position: absolute;
    top: 0;
    left: 0;
    visibility: hidden
}

.custom_check+.custom_label,
.custom_check+.woocommerce-form__label-for-checkbox {
    display: inline-block !important;
    margin: 0;
    padding: 0 0 0 23px;
    min-height: 16px;
    line-height: 18px;
    position: relative;
    text-transform: none
}

.custom_check+.custom_label:before,
.custom_check+.woocommerce-form__label-for-checkbox:before {
    content: "";
    display: block;
    width: 16px;
    height: 16px;
    border: 1px solid #b8b8b8;
    position: absolute;
    top: 0;
    left: 0
}

.custom_check+.custom_label:after,
.custom_check+.woocommerce-form__label-for-checkbox:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 16px;
    height: 16px;
    line-height: 18px;
    text-align: center
}

.custom_check+.custom_label:hover:before,
.custom_check+.woocommerce-form__label-for-checkbox:hover:before {
    border-color: #151515
}

.custom_check:checked+.custom_label:before {
    border-color: #151515
}

.custom_check:checked+.custom_label:after {
    content: '×'
}

input[type="radio"].custom_check+.custom_label:before {
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px
}

input[type="radio"].custom_check:checked+.custom_label:before {
    border-color: #151515;
    border-width: 3px
}

input[type="radio"].custom_check:checked+.custom_label:after {
    content: ''
}

select {
    -moz-appearance: none;
    -webkit-appearance: none;
    border: 1px solid #e5e5e5;
    padding: 0 16px;
    height: 42px;
    line-height: 42px;
    color: #737373;
    font-size: 14px;
    background: #fff url("../img/select_arrow.png") calc(100% - 22px) 20px no-repeat;
    background-size: 7px 4px;
    position: relative
}

.form-row.woocommerce-invalid-required-field .select2-container .select2-choice {
    border-color: #e76049
}

.select2-container--default {
    margin-bottom: 25px;
    clear: left;
    font-size: 14px;
    height: 42px
}

.select2-container--default .select2-selection__arrow:before {
    content: "\f107";
    display: block;
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal
}

.select2-container--default .select2-selection__arrow b {
    display: none
}

.select2-container--default.select2-container--open .select2-selection--single {
    border-color: #151515
}

.select2-container--default .select2-selection--single {
    border-radius: 0;
    border-color: #e5e5e5;
    height: 42px;
    line-height: 42px
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
    height: 42px;
    line-height: 42px;
    padding-left: 16px
}

.select2-dropdown {
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    border-radius: 0;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    border-color: #151515
}

.rtl .select2-dropdown {
    left: auto;
    right: -9999px
}

.select2-dropdown.select2-drop-active {
    border-color: #151515
}

.select2-dropdown.select2-drop-active.select2-drop-above {
    border-top-color: #151515
}

.select2-dropdown .select2-search {
    padding: 8px
}

.select2-dropdown .select2-search input {
    background: #fff !important;
    margin-bottom: 5px
}

.select2-dropdown .select2-results {
    background: #fff;
    font-size: 14px
}

.select2-dropdown .select2-results .select2-results__option {
    margin: 0;
    height: 42px;
    line-height: 42px;
    padding: 0 16px
}

.select2-dropdown .select2-results .select2-results__option[aria-selected=true] {
    background: #e5e5e5
}

.select2-dropdown .select2-results .select2-results__option.select2-results__option--highlighted {
    border-radius: 0;
    color: #fff
}

.select2-container-single .select2-search input[type=text] {
    background: #fff !important
}

.error404 #wrapper [role="main"] {
    display: flex;
    align-items: center;
    padding: 22vh 0
}

.content404 svg {
    margin-bottom: 40px
}

.content404 h2 {
    margin-bottom: 25px
}

.content404 p {
    font-size: 20px;
    margin-bottom: 40px
}

.content404 .searchform {
    max-width: 340px;
    margin: 0 auto 35px
}
